torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
numpy>=1.26.4
pandas>=2.2.3
matplotlib>=3.10.6
scipy>=1.14.1
scikit-learn>=1.6.0
librosa>=0.11.0
tqdm>=4.67.1
tensorboard>=2.20.0
auraloss>=0.4.0
soundfile>=0.13.1
audioread>=3.1.0
